.W-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.W-container_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
}
.W-subContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.W-item{
    width: 320px;
    height: 150px;
}
.W-image{
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
}