.W-image_card {
    width: 35px;
    height: 35px;
    
}

@media (max-width: 600px) {
    .W-image_card {
        width: 30px;
        height: 30px;
        
    }
}
@media (max-width: 320px) {
    .W-image_card {
        width: 20px;
        height: 20px;  
    }
}
